.footer {
  background-color: $background-color;
  padding: 10px 0px;
  &__columns {
    text-align: center;
  }
  &__column {
    display: inline-block;
    vertical-align: top;
    padding: 0px 50px;
  }
  &__left {
    width: $aside-width;
    display: inline-block;
    vertical-align: top;
  }
  &__img {
    text-align: left;
  }
  &__right {
    width: $container-width;
    display: inline-block;
    vertical-align: top;
  }
  &__list {

    &__item {
      text-align: left;
      a {
        padding: 8px 0px;
        //opacity: 0.8;
        display: block;
        color:#e8e8e8;

        &.bold {
          font-family: $bold-font;
        }
      }

    }

  }

}

.bottom-bar {
  p {
    font-size: $breadcrumbs-size;
    color: #cbcbce;
    //opacity: 0.6;

  }

  text-align: center;
  background-color: $info-background;
  padding: 20px 0px;
}
