.search-icon img {
  width: 15px;
  height: 15px;
  display: block;
}

i {
  display: inline-block;
  position: relative;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }

}

.custom-tab__item {
  &.active {
    .icon {
      &-schedule {
        background-image: url('../img/tabs/schedule-hover.png');
      }
      &-diary {
        background-image: url('../img/tabs/diary-hover.png');
      }
      &-journal {
        background-image: url('../img/tabs/journal-hover.png');
      }
      &-students {
        background-image: url('../img/tabs/students-hover.png');
      }
      &-sucessfull {
        background-image: url("../img/tabs/sucessfull-hover.png");
      }
      &-parents {
        background-image: url("../img/tabs/parents-hover.png");
      }
      &-analitics {
        background-image: url("../img/tabs/analitics-hover.png");
      }
    }
  }
}


.icon {

  &-parents {
    background-image: url("../img/tabs/parents.png");
  }
  &-schedule {
    background-image: url("../img/tabs/schedule.png");
  }
  &-diary {
    background-image: url("../img/tabs/diary.png");
  }
  &-sucessfull {
    background-image: url("../img/tabs/sucessfull.png");
  }
  &-control {
    background-image: url("../img/tabs/control.png");
  }
  &-analitics {
    background-image: url("../img/tabs/analitics.png");
  }
  &-journal {
    background-image: url("../img/tabs/journal.png");
  }
  &-students {
    background-image: url("../img/tabs/students.png");
  }
}


.icon {
  &-left {
    margin-right: 8px;
  }
  &-tab {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 17px;
    height: $main-Height;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

  }
  //&-schedule {
  //  background-image: url('../img/tabs/schedule.png');
  //  &.hover {
  //    background-image: url('../img/tabs/schedule-hover.png');
  //  }
  //}
  //&-journal {
  //  background-image: url('../img/tabs/journal.png');
  //  &.hover {
  //    background-image: url('../img/tabs/journal-hover.png');
  //  }
  //}
  //&-students {
  //  background-image: url('../img/tabs/students.png');
  //  &.hover {
  //    background-image: url('../img/tabs/students-hover.png');
  //  }
  //}
}