.smart {
  @include col();
  @include size-xs(12);
  @include size-lg(6);
  display: inline-block;
  @include size-sm(4);
}
.test {
  @include col();
  @include size-xs(12);
  @include size-lg(6);
  display: inline-block;
  @include size-sm(4);
}
.smart{
  display: flex;
  opacity: 0.5;
  position: relative;
}
.zaza{
  display: flex;
}