@import "variables-functions-and-mixins";
@import "mixins";
//::selection { background: rgba($green-color, .5); }
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body{

}



@import 'media';
@import "fonts";
@import "common_blocks/_inputs.scss";
@import "common_blocks/_footer.scss";
@import "common_blocks/_header.scss";
@import "common_blocks/_sidebar.scss";
@import "common_blocks/_modal.scss";
@import "common_blocks/_grid.scss";
@import "common_blocks/_icons.scss";
@import "../less/smart-grid.scss";
.smart {
  @include col();
  @include size-xs(12);
  @include size-lg(6);
  display: inline-block;
  @include size-sm(4);
}