<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__left">
                <img class="footer__img" src="../img/user1.png">
            </div>
            <div class="footer__right">
                <div class="footer__columns">
                    <div class="footer__column">
                        <ul class="footer__list">
                            <li class="footer__list__item">
                                <a href="#" class="bold">e-schools.info</a>
                            </li>
                            <li class="footer__list__item">
                                <a href="#">Контакти</a>
                            </li>
                            <li class="footer__list__item">
                                <a href="#">Мапа сайту</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <ul class="footer__list">
                            <li class="footer__list__item">
                                <a href="#">Користувача угода</a>
                            </li>
                            <li class="footer__list__item">
                                <a href="#">Публічна оферта</a>
                            </li>
                            <li class="footer__list__item">
                                <a href="#">Документи</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__column">
                        <ul class="footer__list">
                            <li class="footer__list__item">
                                <a href="#">Сервiси для батькiв</a>
                            </li>
                            <li class="footer__list__item">
                                <a href="#">Зворотнiй зв’язок</a>
                            </li>
                        </ul>
                    </div>

                    <div class="footer__column">
                        <div class="button mainButton">
                            <a href="#" class="mainButton__button-footer btn__large">
                                ДОПОМОГА
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="bottom-bar">
    <p>© 2011 - 2016 ТОВ "Київська Енергетична Агенція"</p>
</div>
</footer>


