<header>
    <div class="container">
        <div class="header">
            <div class="header__left">
                <div class="upside">
                    <a class="header__school"><span class="header__school-name">Середня школа № 291 в мiстi Тернопiль</span><i class="school-icon"><img
                            src="../img/arrow-right.png"></i> </a>
                    <form action="" class="search">
                        <div class="relative">
                            <button type="submit" class="search__submit"><i class="school-icon search-icon"><img
                                    src="../img/search.png"></i>
                            </button>
                            <input type="search" class="search__input" name="search" placeholder="Пошук">
                        </div>
                    </form>
                </div>
            </div>
            <div class="header__right">
                <div class="before_inline float-right">
                    <div class="button mainButton">
                        <a href="#" class="mainButton__button btn__normal">
                            ДОПОМОГА
                        </a>
                    </div>
                    <div class="profile_mini">
                        <div class="language">
                            <form class="language__form">
                                <div class="language__wrapper">
                                    <span href="#" class="language__selected pointer">Укр</span>
                                    <ul class="language__items">
                                        <li class="language__item"><a href="#">Укр</a></li>
                                        <li class="language__item"><a href="#">Рус</a></li>
                                        <li class="language__item"><a href="#">En</a></li>
                                    </ul>
                                    <input type="hidden" id="language__select"/>
                                </div>
                            </form>
                        </div>
                        <div class="profile_mini_messages">
                            <a href="#"><i class=""><img
                                    src="../img/mail2.png">
                                <span class="top_messages__span">4</span>
                            </i></a>
                        </div>
                        <div class="profile_mini_settings">
                            <a href="#"><i class=""><img
                                    src="../img/gear2.png">
                            </i></a>
                        </div>
                        <div class="profile_mini_user">
                            <a href="javascript:void(0);">Олена</a>
                            <a href='javascript:void(0);' class="profile_mini_photo" style="background-image: url('../img/user1.png')">
                            </a>
                            <a class="profile_mini_dropdown"><img src="../img/dropdown.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
