<div class="modal__bg">
</div>
<div class="modal__wrapper">
    <div class="modal modal-photo" data-name="album1">
        <div class="modal__head">
            <span class="modal__count">Фотографiя <span class="modal__count modal-count_position"></span><span
                    class="modal__count">з</span><span
                    class="modal__count modal-count_all"></span></span>
            <a href="#" class="modal__close">Закрити</a>
        </div>
        <div class="modal__img">
            <img src="../img/bigphoto.jpg">
        </div>
        <div class="modal__bottom">
            <div class="modal__info">
                <p class="modal__description">

                </p>
                <div class="modal__statistics">
                    <span class="modal__date modal__created_at"></span>
                    <!--<span class="modal__views">110 переглядiв</span>-->
                </div>
                <div class="comments">
                    <div class="wall head">
                        <p class="h1">Коментарi</p>
                        <div class="wall__item table">
                            <a href="#">
                                <div class="profile_mini_photo invitation__img table__left wall__img" style="background-image: url('../img/photo2.jpg')">
                                </div>
                            </a>
                            <div class="table__right">
                                <a href="#" class="wall__name">Мурашов Артем</a>
                                <p class="wall__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis </p>
                                <p class="wall__date">10 травня о 14:01</p>
                            </div>
                        </div>
                        <form class="write">
                        <textarea class="custom-textarea showhide" placeholder="Введiть повiдомлення" name="description"
                                  id=""></textarea>
                            <button class="submit wall__img relative inline" type="submit">НАПИСАТИ
                                <div class="button_showhide"></div>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal__about">
                <div class="modal__about__item">
                    <span>Альбом: </span><a class="edit inline v-align-top modal__AlbumName" href="#"></a>
                </div>
                <div class="modal__about__item">
                    <span>Завантажив(а): </span><a class="edit inline v-align-top modal__AuthorName" href="#"></a>
                </div>
                <div class="modal__about__item">
                    <a class="edit inline v-align-top modal__original-size" href="">Оригінальний розмір</a>
                </div>
                <div class="modal__about__item">
                    <a class="edit inline v-align-top modal__deleteUrl" href="">Видалити</a>
                </div>
            </div>
        </div>
    </div>
</div>