<aside>
    <div class="sidebar">
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/institution.png"></i>
                        Про заклад
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/administration.png"></i>
                        Адмiнiстрацiя
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/teachers.png"></i>
                        Вчителi
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/classes.png"></i>
                        Класи
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/skillls.png"></i>
                        Гуртки
                    </a>
                </li>
                <li class="menu__item dropdownn">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/desk.png"></i>
                        Розклад
                    </a>
                    <div class="dropdownn_menu">
                        <a class="dropdownn_menu_link">на п’ятницю</a>
                    </div>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/news.png"></i>
                        Новини
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/files.png"></i>
                        Файловий архів
                    </a>
                </li>
                <li class="menu__item">
                    <a class="menu__link" href="#">
                        <i class="menu__icon"><img
                                src="../img/album.png"></i>
                        Фотоальбоми
                    </a>
                </li>
            </ul>
        </nav>
        <div class="additional_menu">
            <a href="javascript:void(0);" class="additional_menu__toggle toggle inline mb-10">
                Додаткове меню
                <i class="inline"><img class="block" src="../img/toogler.png"></i>
            </a>
            <ul class="additional_menu__list toggle__list">
                <li class="additional_menu__item">
                    <a class="additional_menu__link" href="#">
                        Корисні посилання
                    </a>
                </li>
                <li class="additional_menu__item dropdownn">
                    <a class="additional_menu__link" href="#">
                        Закон "Про освіту"
                    </a>
                    <div class="dropdownn_menu">
                        <a class="dropdownn_menu_link--additional">Подпункт</a>
                    </div>
                </li>
                <li class="additional_menu__item">
                    <a class="additional_menu__link" href="#">
                        Про нас
                    </a>
                </li>
                <li class="additional_menu__item">
                    <a class="additional_menu__link" href="#">
                        Директорам
                    </a>
                </li>
                <li class="additional_menu__item">
                    <a class="additional_menu__link" href="#">
                        Батькам
                    </a>
                </li>
                <a class="inline edit additional_menu__edit mt-10 mb-20" href="#"><i class="inline icon-left"><img
                        src="../img/pancil2.png"></i>редагувати меню
                </a>
            </ul>
        </div>
        <div class="hot_news sideblock">
            <p class="sideblock__h1">Останнi новини</p>
            <p class="sideblock__text">БЕЗКОШТОВНО!!!</p>
            <a href="#" class="edit_mini">Детальніше тут</a>
            <p class="sideblock__text">Перелік обов’язкової інформації на веб-сайті закладу освіти</p>
            <a href="#" class="edit_mini">Детальніше тут</a>
            <p class="sideblock__text">Міністерство освіти і науки надало роз’яснення щодо виконання деяких норм нещодавно ухваленого...</p>
            <a href="#" class="edit_mini">Детальніше тут</a>
        </div>
        <div class="sideblock">
            <form class="sideblock__form">
                <p class="sideblock__h1">голосування</p>
                <p class="sideblock__text">Чи необхідний факульта-тив Німецької мови?</p>
                <div class="radioblock mb-10">
                    <div class="radio">Так</div>
                    <div class="radio active">Нi</div>
                    <input type="hidden" >
                </div>
                <div class="sendmail table sideblock__radio">
                    <button class="btn__small btn__small-mini table__left" type="submit">Голосувати</button>
                    <span class="edit_mini table__right">Всього 5</span>
                </div>
            </form>
        </div>
        <div class="sideblock">
            <form class="sideblock__form">
                <p class="sideblock__h1">голосування</p>
                <p class="sideblock__text">Вам подобається цей сайт? </p>
                <div class="radioblock">
                    <div class="radio">Так</div>
                    <div class="radio active">Нi</div>
                    <div class="radio">Не можу визначитися</div>
                    <div class="radio">Необхідно оопрацювання</div>
                    <input type="hidden" >
                </div>
                <div class="sendmail table sideblock__radio">
                    <button class="btn__small btn__small-mini table__left" type="submit">Голосувати</button>
                    <span class="edit_mini table__right">Всього 5</span>
                </div>
            </form>
        </div>
    </div>
</aside>
